header {
  background-color: #9b0c0c;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: Times New Roman;
}

p {   
  background-color: #eeff06;
  text-align: center;
  font-size: 20px;
  color: rgb(4, 0, 255);
  font-family: Times New Roman; 
}
body {
  background-color: rgb(117, 112, 112);
  font-family: Times New Roman;
  color: white;
  font-size: 18px;
}

.subheader {
    font-weight: bold;
    color: white;
    font-size: 24px;
}

#fmoments{
    background-color:#e42121;
    color: white;
    text-align: center;
}

#fplayers{
    background-color:rgb(17, 105, 146);
    color: white;
    text-align: center;
}

#flex-container {
    display: flex;
    color: white;
    gap: 20px;
}

#fmoments, #fplayers {
    flex: 1;
    color: white;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

#flex-container{
    flex-direction: column;
    align-items:center;
  }
}